<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <meta charset="ISO-8859-1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>
<body>
<h1>User List</h1>
<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Mobile Number</th>
        <th>Email</th>
        <th>Father's Name</th>
        <th>PAN Number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.mobileNumber}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.fathersName}"></td>
        <td th:text="${user.panNumber}"></td>
    </tr>
    </tbody>
</table>

<form id="addUserForm">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required pattern="[a-zA-Z ]{3,}">
    </div>
    <div class="form-group">
        <label for="mobileNumber">Mobile Number:</label>
        <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" required pattern="[5-9]\d{9}">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$">
    </div>
    <div class="form-group">
        <label for="fathersName">Father's Name:</label>
        <input type="text" class="form-control" id="fathersName" name="fathersName" required pattern="[a-zA-Z ]{3,}">
    </div>
    <div class="form-group">
        <label for="panNumber">PAN Number:</label>
        <input type="text" class="form-control" id="panNumber" name="panNumber" required pattern="[A-Za-z]{3}[pP][A-Za-z][0-9]{4}[A-Za-z]">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
       $(document).ready(function () {
    $('#addUserForm').submit(function (e) {
        e.preventDefault();
        var formData = {
            name: $('#name').val(),
            mobileNumber: $('#mobileNumber').val(),
            email: $('#email').val(),
            fathersName: $('#fathersName').val(),
            panNumber: $('#panNumber').val()
        };
        $.ajax({
            type: 'POST',
            url: '/add',
            contentType: 'application/json',
            crossDomain: true,
            data: JSON.stringify(formData),
            success: function (data) {
                console.log(data);
                location.reload();
            },
            error: function (error) {
                console.log("error");
                console.error(error);
            }
        });
    });
});

    </script>
</body>
</html>
